.navigation{
    display: flex;
    justify-content: space-between;
    color: black;
    height: 20%;
    padding: 40px;
}

.body{
    display: flex;
    padding: 40px;

}

.block{
    border-radius: 25px;
    display: inline-block;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    padding: 70px;
    text-align: center;
    width: 32%;
    margin: 5px;
    border: 10px solid;
}

.block:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    border: 0px solid;
}

.footer{
    justify-content: space-between;
    font-size: x-large;
    opacity: 30%;
    display: flex;
    color: white;
    background-color: rgb(201, 201, 201);
    padding: 40px;
    height: 30%;
}

.rome{
    background: url(https://i.pinimg.com/736x/13/62/ac/1362acd8a0b2b0bed8106c2b91f96d6a.jpg);
    background-position: center center;
    background-size: 100% 100%;
}

.bruxelles {
    background: url(https://www.mrsmithworldphotography.com/photos/Atomium-Brussels-1.jpg);
    background-position: center center;
    background-size: 100% 100%;
}
.new-york{
    background: url(https://as1.ftcdn.net/v2/jpg/02/18/47/30/1000_F_218473007_QFceUeXUCiWbtnokoMxNa3gpXi40lUJ2.jpg);
    background-position: center center;
    background-size: 100% 100%;
}